/*==========  footer  ==========*/
footer {
  background: #383639;
  color: #fff;
  position: relative;
  z-index: 1;
  padding: 78px 0; }
  footer:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    height: 1px;
    width: calc(100% - 30px);
    max-width: 1590px;
    background: #e4dbd4; }

.address {
  margin: 0 76px 0 auto;
  letter-spacing: 0.94px;
  font-size: 15.7px; }

/*==========  footer end  ==========*/
/*==========  modal  ==========*/
.modal-dialog {
  max-width: 550px; }

.modal-content {
  border: none;
    border-radius: 10px;
  background: #383639;
  color: #e4dbd4;
  padding: 30px; }

.modal-body {
  padding: 0; }
  .modal-body .form-callback button {
    margin: 20px auto 0; }

.modal-header {
  width: 100%;
  text-align: center;
  margin: 0 0 20px;
  padding: 0;
  border: none; }
  .modal-header h3 {
    width: 100%;
    text-align: center; }
  .modal-header .close {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    opacity: 1; }
    .modal-header .close:before, .modal-header .close:after {
      content: '';
      position: absolute;
      left: 12px;
      top: 0;
      width: 1px;
      height: 100%;
      background: #e4dbd4; }
    .modal-header .close:before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .modal-header .close:after {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg); }

/*==========  modal end  ==========*/
