/*==========  section home ==========*/
.home {
  padding: 220px 0 0; }
  .home .container {
    position: initial; }

.home-slider {
  margin: 68px 0 -220px 0;
  min-width: 2000px;
  float: right; }
  .home-slider__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    float: right;
    position: absolute;
    left: 210px;
    top: 228px; }
    .home-slider__nav .slick-arrow {
      top: 0;
      left: 0;
      right: 0;
      position: relative; }
    .home-slider__nav .slick-next {
      margin: 47px 0 0; }
  .home-slider .slick-slide {
    margin: 0 125px 0 0; }

.home-slider-item {
  max-width: 1295px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .home-slider-item img {
    width: 100%; }

.home-title {
  position: relative;
  width: 100%; }

.home-icon {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 111px; }

.subtitle {
  color: rgba(228, 219, 212, 0.5);
  font-size: 31.8px;
  line-height: 1.14;
  letter-spacing: 3.18px;
  margin: 0 0 0 56px;
  max-width: 620px;
  display: inline-block; }

.home-content {
  width: 100%;
  height: 100%;
  position: relative; }

/*==========  section home end  ==========*/
/*==========  section about  ==========*/
.about {
  padding: 252px 0 105px; }
  .about .btn {
    margin: 0 0 0 auto;
    padding: 0 80px; }

.about-box {
  width: 33.3%;
  letter-spacing: 0.51px;
  font-size: 25.7px;
  position: relative;
  padding: 10px 20px 20px;
  margin: 116px 0 0;
  border-right: solid 1px #383638;
  min-height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .about-box .number {
    position: absolute;
    color: rgba(56, 54, 56, 0.1);
    font-size: 193px;
    left: 24%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom: 0;
    line-height: 1; }
  .about-box h3 {
    color: #383639; }
  .about-box:last-child {
    border: none; }
  .about-box:nth-child(2) .number {
    left: 30%; }

/*==========  section end  ==========*/
/*==========  section plans ==========*/
.plans-slider {
  min-width: 1213px;
  float: right; }
  .plans-slider__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .plans-slider__item img {
      width: 100%; }
  .plans-slider__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .plans-slider__nav .slick-arrow {
      position: relative;
      left: 0;
      top: 0; }
    .plans-slider__nav .slick-prev {
      margin: 0 30px 0 0; }

.plans-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 119px 20px 109px 70px; }
  .plans-content h3 {
    font-size: 46.9px;
    color: #e4dbd4; }

.plans-description {
  margin: 100px 0 47px; }

.list-characteristics {
  width: 100%; }
  .list-characteristics .slick-current {
    opacity: 1; }

.list-characteristics-item {
  text-align: center;
  text-transform: uppercase;
  color: #e4dbd4;
  font-size: 13px;
  margin: 0 72px 0 0;
  max-width: 104px;
  width: 100%;
  opacity: .25;
  cursor: pointer; }
  .list-characteristics-item:last-child {
    margin: 0; }
  .list-characteristics-item__icon {
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 13px; }

/*==========  section plans end  ==========*/
/*==========  section variable-project ==========*/
.variable-project {
  margin: 84px 0 149px; }

.variable-project-photo {
  min-width: 783px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
  margin: 0 auto 44px 0; }
  .variable-project-photo img {
    width: 100%; }

.variable-project-slider {
  min-width: 1107px;
  float: left; }
  .variable-project-slider__nav {
    position: absolute;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 86px;
    background: #e4dbd4;
    z-index: 1; }

.variable-project-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .variable-project-item img {
    width: 100%; }

.variable-project-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.variable-nav {
  width: 100%; }
  .variable-nav .slick-slide {
    margin: 0 0 45px; }
    .variable-nav .slick-slide:last-child {
      margin: 0; }
  .variable-nav .slick-current .variable-nav-item {
    opacity: 1; }

.variable-nav-item {
  padding: 0 0 0 30px;
  text-transform: uppercase;
  color: #383638;
  font-size: 25.5px;
  letter-spacing: 0.51px;
  position: relative;
  opacity: .7;
  cursor: pointer; }
  .variable-nav-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 62px;
    background: #383639; }
  .variable-nav-item h4 {
    max-width: 440px; }

/*==========  section variable-project end  ==========*/
/*==========  section residential ==========*/
.residential h2 {
  margin: 0 0 95px; }

.residential-content {
  padding: 90px 0 100px 75px;
  position: relative;
  z-index: 1;
  color: #e4dbd4; }
  .residential-content:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    min-width: 2000px;
    height: 100%;
    background: #383639;
    z-index: -1; }
  .residential-content h3 {
    margin: 0 0 43px;
    color: #e4dbd4;
    font-size: 46.9px; }
  .residential-content .form-callback {
    margin: 76px 0 0; }

.list-parameters {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #e4dbd4;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 0.35px; }
  .list-parameters p {
    font-size: 34px;
    letter-spacing: 0.69px;
    margin: 0 0 10px; }
  .list-parameters sup {
    font-size: 18px;
    vertical-align: top; }
  .list-parameters li {
    border-right: solid 1px #e4dbd4;
    padding: 10px 68px; }
    .list-parameters li:first-child {
      padding-left: 0; }
    .list-parameters li:last-child {
      border: none; }

.form-callback {
  width: 100%; }
  .form-callback button {
    padding: 0 40px;
    height: 48px;
    font-size: 11px;
    margin: 0 0 0 auto; }
  .form-callback .checkbox {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }

.checkbox {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e4dbd4;
  font-size: 7px;
  text-transform: uppercase; }

.inp-check {
  display: none; }

.checkbox-custom {
  border: solid 1px #e4dbd4;
    border-radius: 50%;
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin: 0 10px 0 0; }

.inp-check:checked + .checkbox-custom {
  background: #e4dbd4; }

.checkbox-text {
  max-width: 218px; }

.residential-slider {
  max-width: 671px;
  margin: 0 auto;
  width: 100%; }
  .residential-slider__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .residential-slider__nav .slick-arrow {
      border: solid 1px #383639; }

.residential-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  mix-blend-mode: darken; }

.residential-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 79px; }

.links-download {
  margin: 0 52px 0 auto;
  text-decoration: underline;
  text-transform: uppercase;
  color: #383638;
  font-size: 17.3px; }
  .links-download:hover {
    color: #000; }

.gallery-hidden__item {
  display: none; }

.link-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38px; }

.residential-nav {
  width: 100%;
  margin: 125px 0 0; }
  .residential-nav .slick-slide {
    color: rgba(56, 54, 56, 0.5);
    margin: 0 57px 0 0;
    position: relative;
    padding: 0 0 14px;
    cursor: pointer; }
    .residential-nav .slick-slide:last-child {
      margin: 0; }
  .residential-nav .slick-current {
    color: #383639; }
    .residential-nav .slick-current:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 104px;
      height: 2px;
      background: #383639; }

.residential-nav-item {
  font-size: 25.7px;
  text-transform: uppercase; }

/*==========  section residential end  ==========*/
/*==========  section rare-copy  ==========*/
.rare-copy {
  margin: 40px 0; }
  .rare-copy h3 {
    margin: 20px 0 30px;
    font-size: 36px; }
  .rare-copy .box-text {
    max-width: 260px;
    font-size: 24px; }
  .rare-copy .btn-download {
    margin: 20px 0 0; }
    .rare-copy .btn-download:hover .btn-icon {
      -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1); }

.mb-30 {
  margin-bottom: 30px; }

/*==========  section rare-copy end  ==========*/
/*==========  section courtyard ==========*/
.courtyard {
  margin: 143px 0 0; }
  .courtyard h2 {
    margin: 0 0 88px; }

.courtyard-slider {
  min-width: 1107px;
  float: left; }

.courtyard-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.courtyard-content {
  padding: 90px 70px 77px 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.courtyard-slider__nav {
  margin: auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/*==========  section courtyard end  ==========*/
/*==========  section commercial ==========*/
.commercial h2 {
  text-align: right;
  margin: 0 0 76px -70px; }

.commercial .box-text {
  text-transform: uppercase;
  font-size: 25.7px; }

.commercial-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
  min-width: 814px;
  margin: 0 0 122px; }

.commercial-content {
  padding: 110px 0 0 30px; }
  .commercial-content h3 {
    padding: 0 10px 62px; }
  .commercial-content .box-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 58px 10px 0;
    border-top: solid 2px #e4dbd4; }

.btn-download {
  padding: 0 74px; }
  .btn-download .btn-icon {
    width: 13px;
    min-width: 13px;
    margin: 0 0 0 36px; }

.image-max {
  min-width: 1107px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.commercial-box {
  padding: 113px 0 0;
  position: relative; }
  .commercial-box:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 2px;
    width: 2000px;
    background: #e4dbd4; }
  .commercial-box .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    float: right;
    min-width: 779px;
    margin: 100px 0 98px; }
  .commercial-box h3 {
    max-width: 450px; }
  .commercial-box .box-text {
    max-width: 540px; }
    .commercial-box .box-text p {
      margin: 0 0 60px; }
      .commercial-box .box-text p:last-child {
        margin: 0; }

.area {
  letter-spacing: 1.83px;
  font-size: 91px;
  margin: 50px 0 0; }
  .area span {
    letter-spacing: 0.69px;
    font-size: 34px; }
    .area span sup {
      font-size: 20px; }

/*==========  section commercial end  ==========*/
/*==========  section contacts ==========*/
.contacts-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 1108px;
  float: right; }

.contacts-content {
  padding: 105px 0 0 30px; }
  .contacts-content h3 {
    color: #383638; }
  .contacts-content .btn {
    padding: 0 135px;
    margin: 57px 0 0; }

/*==========  section contacts end  ==========*/
/*==========  section why ==========*/
.why {
  margin: 150px 0 165px; }
  .why h2 {
    margin: 0 0 87px; }

.why-slider {
  float: left;
  min-width: 1136px; }
  .why-slider__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .why-slider__item img {
      width: 100%; }

.why-content-slider__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 57px 73px 10px 0; }
  .why-content-slider__nav .slick-dots {
    margin: 0 0 0 auto; }

.why-content-slider {
  padding: 0 30px 0 0; }
  .why-content-slider p {
    margin: 0 0 30px; }
    .why-content-slider p:last-child {
      margin: 0; }

.counter-slide {
  margin: 0 0 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px; }
  .counter-slide__default {
    margin: 0 0 0 5px; }

/*==========  section why end  ==========*/
/*==========  section .construction-progress  ==========*/
.construction-progress .box-text {
  letter-spacing: 0.51px;
  text-transform: uppercase;
  max-width: 613px;
  font-size: 25.7px;
  margin: 0 0 0 auto; }
  .construction-progress .box-text p {
    margin: 0 0 30px; }
    .construction-progress .box-text p:last-child {
      margin: 0; }

.construction-progress h2 {
  margin: 0 0 80px; }

.construction-progress-slider__nav {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  background: #e4dbd4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 33px 80px; }

.construction-progress-slider {
  min-width: 1109px;
  float: right; }

.construction-progress__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/*==========  section end  ==========*/
/*==========  section booking ==========*/
.booking {
  border-bottom: solid 1px #e4dbd4; }
  .booking h3 {
    margin: 0 0 56px;
    max-width: 470px;
    color: #e4dbd4; }

.booking-content {
  margin: 103px 0 108px; }

.booking-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 1107px;
  float: left; }

/*==========  section booking end  ==========*/
/*==========  section documents ==========*/
.documents {
  padding: 157px 0 110px; }
  .documents .box-text {
    color: #e3dad3; }
  .documents h2 {
    color: #e4dbd4; }

.documents-box {
  margin: 58px 0 0 30px;
  width: 100%;
  max-width: 456px;
  border: solid 1px #e4dbd4;
  min-height: 314px;
  padding: 47px 58px 50px; }
  .documents-box:first-child {
    margin-left: auto; }
  .documents-box__top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 10px 20px 10px;
    border-bottom: solid 1px #e4dbd4;
    margin: 0 0 36px; }
  .documents-box__body {
    width: 100%; }
  .documents-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    .documents-box__icon:after {
      content: '';
      display: inline-block;
      width: 30px;
      height: 15px;
      background: url("../img/arrow-bottom.png") no-repeat center;
        background-size: 100%; }
    .documents-box__icon img {
      max-width: 53px; }
  .documents-box .icon-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 30px;
    width: 100%; }
  .documents-box__links {
    color: #e3dad3;
    font-size: 25.6px;
    letter-spacing: 0.51px;
    margin: 0 0 20px; }
    .documents-box__links:last-child {
      margin: 0; }
    .documents-box__links:hover {
      color: #fff; }

/*==========  section documents end  ==========*/
