@import "vars"

/*==========  section  ==========*/
header
  position: absolute
  width: 100%
  top: 0
  left: 0
  z-index: 3
  padding: 90px 0 40px
  &:before
    content: ''
    position: absolute
    left: 50%
    bottom: 0
    transform: translate(-50%,0)
    height: 1px
    width: calc(100% - 30px)
    max-width: 1590px
    background: #e4dbd4

.menu
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 0 auto
  text-transform: uppercase
  li
    margin: 0 39px 0 0
    &:last-child
      margin: 0
    a
      color: $accent2
      &:hover
        color: #fff
    .dropdown-item
      color: $accent
      &:hover
        color: #000

.dropdown-toggle
  &:after
    border: none
    margin: 0 0 0 9px
    width: 14px
    height: 7px
    background: url("../img/arrow-bottom.png") no-repeat center
      size: 100%

.dropdown-menu
  margin: 5px 0 0
  min-width: 200px
  border: none
    radius: 0
  background: $accent2



.phone
  color: #e3dad3
  letter-spacing: 1.49px
  font-size: 24.8px
  margin: 0 101px 0 0
  &:hover
    color: #fff

.btn-burger
  cursor: pointer
  width: 41px
  span
    margin: 0 0 10px
    width: 100%
    height: 1px
    background: #e4dbd4
    display: block
    &:last-child
      margin: 0
/*==========  section end  ==========*/



/*==========  mobile-menu  ==========*/
.mobile-menu
  display: none
  position: fixed
  left: 0
  top: 0
  height: 100%
  overflow-y: auto
  padding: 30px 20px
  width: 100%
  max-width: 290px
  z-index: 4
  background: $accent
  .menu
    margin: 20px 0
    li
      margin: 0 0 15px
      width: 100%
  .dropdown-menu
    min-width: auto
  .dropdown-item
    white-space: normal

.btn-close
  cursor: pointer
  width: 20px
  height: 20px
  display: flex
  align-items: center
  justify-content: center
  position: relative
  margin: 0 0 20px auto
  &:before, &:after
    content: ''
    position: absolute
    left: 10px
    top: 0
    width: 2px
    height: 100%
    background: $accent2
  &:before
    transform: rotate(45deg)
  &:after
    transform: rotate(135deg)


/*==========  mobile-menu end  ==========*/